body {
    font-family: arial;
    background-image: url(./7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-sect {
    text-align: center;
}
.titles {
    font-size: 66px;
    text-align: center;
}
.logo {
    max-width: 500px;
    margin:0 auto;
}
/* Sets the background image for the wheel */

.wheel-sect {
    background-image: url(./wheel_back.png);
    background-position: center;
    background-size: 135%;
}
/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
}

td.the_wheel {
    width:800px; 
    height:800px;
}
@media only screen and (max-width: 768px) {
    .titles {
       margin-top:130px;
    }
  }
